<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/032a168e350b/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260822%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260822T171916Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=34282afad3b93ee68248ae8267f7d73e0d36ad3a269a34263edd50c598d943ba6ee9edf6af0ef85479b5c94d2906d1168830a649f010715aa7cbeed60aa6d46e943512a9b7f383b2d7146d7219e30de554ebc7dd831c5ec7e61143d8ab0e117e7cad619f3760d6e303dec077234f7c292d8a2162901e43157f64c26d00b7d18c7c9f7b75012ccc787fe0cba1ef05d1858cfb3c0c235bb0115c7efa528033910f353fefd8067f350f4bd873a09c4c30f229aad796e12e90e9bf0cf1b55f14a650b17d74e59e58036ea90984b00f303c28902dd4341e357a47851ef1978c205791cf0853154cb10f1cf52a9793d7fe984d34e2c3ce76f4b67a9c0cce38b1d0ab5b</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1787417592</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
