<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/f2aaae1d8a6e/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260826%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260826T231236Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=639d62d8ae81b1e25cc6b0beb08a4d97c3bdddf6a4cc3452c4a8b5371b6962fba5cf40f3aa185466b8f402c0ba59146b1d489c127961b3c291f01114f144ca9bb36b8a7d22ccdb6b9d5d9ddf9e6ee8c354b150fea10277e96e3c8b33f792fe17b37ee0bb3a7e09c753c3c4e7056d1690080e80790a158e799adc4f3576d42be12ecf4709c79131adc3b72fd1fb0c2d48dc76e0af314c239e208a51563b777e7affec2a43e1cea2ef7fc4e3dcf0518952565078bff6833e5f7862c9d0393cf63de95309b6194f32f79a534b00e3e7cb1df36d80243abe0dae886ac0f1c8ae4691670bf1fea85bbc9ea6df8d5cb113e4fb5d43c2a461fc65e8f555d42c42e1adf2</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1787782284</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
