<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/25d5a53b3e34/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260815%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260815T182337Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=88e5e63b97ca650ff256f0c4c8e34482ab193cb1a0bfed51f25ea2a3dab38d9ce68b1f3ae6dbe05c8c49c99f37c072ac116c2098e745c98d8db0a87f32d513def104745441a98526710342b4505075eef01017062da34b60656a21d432c7c252cbe31b231a8e46622b2e48f2b5a68bfa435ee4fd93cf06a099ac2ed604c44315febf44db62a2f1af291f71fea711f1a43ea9c2752b5cc6e3bdfe25cafb0dcddad73ef87d546adb3fd25fc2971076fc3dfba67ca941f61dd69810251ca8bbc28faf4d7a15a33ca271ea8b509f8af029d7283a69106364a304412628355576b67303ad45ae44a18a644c466925f8e5a1104e420f83a648f5748f102ecf9fe1d971</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1786816644</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
