<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/efb2ba74f007/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260826%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260826T111720Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=6db4f69b18bfd3c77dd069ab1233b7a52c5ba042fe848bda359c509134d506cb64981cda8e8903fe551bc7104e3650ea1f666368d74d8b307fe577e3a5d92cc9cfa2784651dfd530d5cef3e594fbbd4e8934ed34144eb593effc827478642d4f234037e253acf5168eceba71087ee2047802eb00e1e3d53891a69cd083570a6f53cdf8f02f854eafb0380a3041a3c73ae837e01759b8db727bb257bdb1de5e1e662410a7af995ef98b6aeee1c9a6b120ae0e0065ecd5879722cc63e4e4dafdb09d53b562e67a19de7f46b8c634fbcc0b1bd7e800da6f273d80626b4fe64e749cfa7192ec59dcc8e297f7d02c8056e1a13ea39971965bbd443d62741a409de661</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1787739766</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
