<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/d82baa9cbc52/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260827%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260827T194033Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=8af3ccfdc0ec487301687f578b22d3993edd69315d9a0d4de0a43adb0279c5098e7a991273df234c79fa7dd02bba3fedbd1191c01a6c288a6b5657c60223c7575adc84c370a36e1b1f06455f668267eec930584715ac820bbb19b58786d6364bd99a61c3ed486387eb6bb4976844178eb2ddf7dfcc1a323a31e7fa16619c9e1bd45d600be3b862e174983418a6e2e3e0dfecc56cb019c4fd0a52c641439feafc72739c39c95d4026e25d355522e7218a93aff84816fe3eb2c63d0c52769b84e3c377d8eae380e804f3385ecff5d474594901d33cf07a2e17c0625a84f62cb51967c3b8e0311b258e4d6c57f2c2e3356673474936443ac61ad0dc96e944741ccc</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1787855530</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
