<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/794e907a06d9/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260901%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260901T014141Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=2f5a464ddf126e93347ca0e24e3a660ebb2f8dd70ddcb983d2d5120e655faedba64507fd8908eba22ae3c56c2553c71fa0abdaa13876dea0c43c3c47913a5f1e521d6ad35d87893d6bac63ee8ead1630dd63144a1abb4fc49a1192ab096f0f58ad57cae812fff74c46e8aa96da6250c8120dbb62bf5aacf7ae91e8bb38bfeaa8f5d570098df4333b2f04fab14f5ed6c47bcbac4b1c17d564b7af33eb7bc3d744123ad62009921b7e0e03a3cff875a89ca004c5bd6cf49e2289f0ad82fff6c50b9709c2a1084f404124b0f9262f7e4b04b32a4d51b27c2df6a5aaaa303d4a270b6d74da2ae71a002e84a10e6f839869d21f1eaddd7cc2448d359405d553a654d4</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1788222271</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
