<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/896fb17cc846/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260827%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260827T022337Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=7321deb8bd72043229edac787d64385f2bf0c872b399cb2ae86ebde23db2108d08601446bb072105936dc3882c62f034c4e470706044fe2086bf9a25de8c64b97f2c4be26effd2d8b5fe2e2a6bf0732249d9c911ef935d5806c11ac2e202a96882fd684d92d1260fc19fb7538af3248a90ac7ddd6440bfcec8fbccfd60d8f1c0bd8a2c050036656d6dc9aec46bdd9b1dc3ac4be6698ae6d8a3f388f1958cf59c51410d5443be3b9c8b805f0bb7191122d5f18e1bb430747dfe333dc75aa4cf5ac1f13c7d2fd0132fecbbe146ad8cb22db725fc0f86d640e4ab0e277f1b8ea676a34daa716ae6766383d245f087e9bcfae8507c9c7a3064d73c47400661e269c0</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1787795742</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
