<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/9f76f30ea459/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260820%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260820T080403Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=072c242ca6a75b96574f2f476282d09a1a8dee4e729609c020018d99a743875198541f1ebe6688013f763f9941a06470d6e02690956c9cd5674f56fc80cf7056e84f4faea7850fda50226fdc0b38258d082ce57c25938de34bd9fa3b3a504d0731f0b245aa36b517c0d257cc3f9f26f3b8e4c8a77e43eb55207b6c949ac5da59ab49fa7709ab69164de81943eaa2f32634224476b4816e750fb6da76311fd214822385666ddbce71f6b1f07af50c929dd640cd17f1a02fe92697ac58a90f1f38602b30c9b238fba056cecabbc9ad8cfbad6c340764245a9fa958fd50ff31d18b989dd78a6845092f7ab8c8277160a070322c76d9f1b5564a72a93883bd382f20</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1787211382</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
