<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/072232be0047/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260819%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260819T190026Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=7d6f515993552e5e9a6fe1313c0120a1b1c8e7c22dbde4ed2ec2aa9f2f8f3bd713adf6f790b73ad0b1e10b13144963f99ff21575a80b7596b524e7dba80e5121160f2e31dcb1fdffab4f54e01580f7c829c88c9d0070e6d1497f4ed517ac7bb35071bb729f2ead12b8dddd10c4c54f708be5d637db48a52e0005b292722ac46ea32faca1efdcf403da24f53507e8585236cd4e351b681aea5ac25d637ffe1012f2f946c7819ccaff49fe5537466b551a2173da62b857892039cc1098b4c6926c6481a4f3d0ebecf51fa40248891d9b7b9ba05bd1eeff6e2fbc5d153e8d98ab8292c43c3b8b72d2424c684d09eae535ba33952054b6d002343ac34f82eaa47039</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1787164505</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
