<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/d28b234a47e2/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260820%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260820T164900Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=86dd5a853241c99ed9047a4d007931a269f92d61daa804b5caaa66e2b64200a839f73c8a6abbf1b39dc5816431cb14c36dbc48a50dfee02840408a610c4af538dbc49936056be31f9917bcde97597da8d027e1f3aba31f73eb56045b73d9f1907a8c4a8c44a936161be2ce4134ce2ff13f03fc91cb36f98ddcbeaf7aad4f64946aa6dff458bbb184c4335ccf50b19f862602a581b28a72879d0e19f3c1b7b28d8a852995c2c5dbe65da16ceda3596de167b6148dfd40aba25d73051a47232deb803e034ffd774131f902f49f0b3b393fdff0d3b3702ccb593b455af94c6d1e0be05112a6418e3bdccece5667a0aaf215a70b2533f1857996721acd9b9580957d</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1787242909</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
