<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/6e4e04423c0a/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260822%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260822T114714Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=1b04ae7f794d4c1046256069ed0f2acc085d6b0a9e77b237fcd9ad64429fb424866e1bd1e3e2e2a9cb5aa1786cb2b7b4c726c8b6cd8da7a6b102472d39bc3fe6cd1ae7021bd93fe7a2a788a9be138c5f0e3b08c8dd810b3a129cc3773c15bdf27b655073c5f62991fd8af817e3a219ea2ad68431606f0f493a0739aaf6b4f808ebc8b8341f0e8721137629ee58d710d89851893f2731fb4252272b71a881399229791e46f14e8919ec3e21e64790ab744c86e23268512bf26ec18f9a42042d40b43a6c5b27feb7b1fc52f8f531780318768b0c08da4568bb0e0cb9e6d536816d6d0f0634c1759eebac43ee733654334a3b7770b6214dae79c8fe29563549a7b6</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1787395977</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
