<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/3da253814203/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260902%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260902T015216Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=17349e5485ce24faf36c646f596ac37a4518a55f35220d067b2b717fd8cdb8497581283cea3c88174f8c3959cb0e4a4f5eb25e6506173f542fd2b8b9c115c0faf34571a280b59a13f3a8f8728e00f86128b95d6dbdb6669491a20b7c612abb8f9ba94acef0cd3859ce0a7be1764daf8b2809c1f0d35c8c2a23f5e68993bf536d6fadb173195dbd061715b5dbaa9447e1ba4b89974a4aaf0f730bea79c8428c7d05affff37f2639c18e1dc3a91ff0840e640015bc09b4ad6383b25b673ca23d899aa6abfadb065462b534288fab44c1d9d8a1bd17f89c1591e64309b916b7b086d96ec21077b89c6ebf64ffe0be5d07e09300f05f3132deea29b8cd59a949cce5</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1788311952</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
