<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/d09cc93873cf/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260820%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260820T073303Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=093d3c893f6ce7fd257e17e4fd9e087b33ab451014b6c05e69b80e6fb86d92ecaf69796e5f6595d4b1d7211ad0f21066578e8aa003088e35023a96d54d691e39c0351fdf4aa1b8870196c3ce9ef492ed8135f0ab4f934426ce96425d403db0723934defe5c158397228cc228698763f4bbeb75f8094b74feda7213dc569f2f12b107e7cbf19819833b0510fe3130b2e049bbfe5df239afbfc111555b2ffd671d5690ee12977d372c719e8e1ae7071b56db0bf79efdbf0afc600c6c7a5722435fc68499aaae028357d5cf8dcd22a0e44ad7976a0364db8fb320a02fa9323a1ed09783aa7c7afdfa29200259bde819adc864665fa35943d3aa08a8f1f5071e004d</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1787209453</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
