<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/4ce627847d2d/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260827%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260827T205556Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=42e7eda428e70a1204f799470759432df0f93d40593cf9d2b4bfe6603500dcd2aa4e35e6df88f377377fb3078af71eee0f56e28967a488966f1ea8b017705a33cf389652e471c6446885f0d8db3d54f8a54c3734eba6ecc954618a3064f8b62858ecdacc9eeb4deaa77a6c5204abee69c22a4d72c78e2f5e743c0aac658506458983b9a421c3d7c15a423911e044777fe29f37822a3ae44c8e4f877d4ffa5767d7e513d8b747da00f4e0ddfe7f83d34a02cb6e4e544d7593268cfbdf23034ae6d440c28525779bc68aa0ae3b4dc0e7c0febc62194dd80763533d751e4e214b9fc4b8e64d49eb5da6f7dd583e51e7525297a8555f3b8f259d50895396a0482c77</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1787860169</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
