<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/53d7b1c069c8/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260827%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260827T014216Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=36611030b80c225f0814295b416d97cd96c792390071e8b4fbae91024cbd4bdc9639c7b891a0517a5181762e0fb7d70bf5a2c40c9ccdc1366bb57628ffab0839c74b3d5d8cb9e5733a386e6c8620ef4ab889049792eda8b5a208d422a5c9f69ca8d600ccba1febfee5a7e00805235e4bb046b476beaa475c84da8630a05c9df6d2ec8c6289a48f73f6590730f040438300f001b81d44157e1154f5c58ac97e7abee8ebc33a576271a201371a059a20c8fb7d563eb28b1f825451dd82a26b5ca51d4329e0ce698fce6d271d6274b0993db18280c08439af287d921a9adedc6e375969021dd27f89aaac474ce484a7c24fe4da73d7f08f1560df2a2dc9b75c549c</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1787790520</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
