<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/6d7275bf2bdf/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260903%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260903T015047Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=6d9325e9b485c1cbcb84205fa463eb262b677dcda24817208830efecdd84d257d2c62bc884d13baa18f7e4c0841002f0575abb15a0a916483617acef2fcb01763daed67730bd3f40019b70659f7d1e967026a8b62be3b7219d83b8beb5761b11822feb14a271bae5490455e8fc8c8ede2019c53f00ce508f3dc2f99e57cf8b57e48dc6251bd622af6c628e433487427866e211aaba48ce59ee5013c3a71acc408a2606c1b88c2ae6216b2c531310473ef3a590e67db0943a97ddb908ad1235076fa25b1acc80cbd1ea131861b403b386b568b8cbec9817d9af6e3fe2430d7863b021b58547049dbf7142f50a0f4dbe9ad17e092542faa23738f292732ed3850c</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1788398304</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
