<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/7e4ade6bb2d3/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260815%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260815T162431Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=20936e7e5cb0057cacec2dca21e208026f1bf2f411bb63cdfd69700c1a7e3acaa341278cfbea1f5daf28c88634e525d34d8ca8481525b73cf3750e1514f961d1131f82fea67dfdfc84e8a9eac9658581b46c535b290796672a59a8ca7a92cb1379c95b8fbc2c0fa49862c7860157c40894b7b26ae576abc87a89a7cd246099a3158f0cb2afb1128b05ef05acf1383ea22a4a82daf28355359f0f40ab859e919dcb91bcceace35c86190d3c63d981d4a7cef8e7fb7b4f0a40acb097927cd371f180cb0a4a1979aac9f0543e8ca46fbdb433553f763630d9860eaa3aef63622020dd88218f36a0cde94fb96878b02faa9d40b69929cd35169f1b8fbe55812061b4</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1786809569</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
