<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/0e0a1e9dd4f7/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260823%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260823T090909Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=1ab0be6a2a002cea1dacb573e6b69e2d707e77ddd550e20908713c6a0028d6b5f8bc421c8bdbcf58be927888561ca2c9bf4f944b011635e909abe03b780204421a2647aab4ea32f7490f40cab9216135382f4f4f7c9eb25e6e9153c8ef8b059fc5918d5465825bea629d727e91d615212d28ada3e7eccfd13017fe5882a1722684e010f478ceb9426297f4a7535469f338e049e58a4cba9f536421eb9e805cd50f32e3eb7f01c3dd8f9a8e08277f5a747cdeda0e7f36589e62089b7d4e05508ac10c0a8c11e49f120b411426806ab97b1ad615b766cf17637942d52c20e3f83f5221ab71a6b96fe3025dace3c39931dc6f0d9143072e06ed05dcf3d4b04c949f</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1787473848</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
