<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/f027dae582b8/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260906%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260906T051235Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=0aada6d8a610ec91054305f22ed5061d6a27e9bc116f715d784675e4b028456d2db1d85c35f8ed757c6e8a11215595274279e7d90d6a214b208e630f69fa6dea6d1ee2e32f87a4aa01b88276d4711e36f3d307cf3099d00a5d5f51c0c8e0f8a4e51b025e85b0de12891da37acb50c8213add12a0b6561d79dc9db6341773c90ce55ea00f71910e2e07a75679aa239c1b0117a38272385f5911fc71cf46950521ee79403da39186eaccf91329ff521d96e8b8790898ed6576ae4a16fb2aecbfd25d50e4161f6dea6a1a1c08ae120403cd0e7757078035fcf074c40bd994b0bb42789b5c18e2bf47dbfc2cc7f993ff817b22684b7a1f49ba539a8a27c75f9fc8c7</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1788669380</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
