<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/latest/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260901%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260901T052716Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=71496b339fdff22eab434855f507f762a0af5f6008acce03c50ef887df89a955229e02f8f2eaca0bc46ddb45e68c1dd25580e62da67f08da9de3e23c54ed4d01cb8b2d038f2bf1f1c54c6ded4d20d47af4eec2c8ccb71f3e5134ba4f45ff2fad94288dc6af6e7922f65948f93342d00f2a4f0086aa2317fb60691f167828f9508f181d0bd40b74c287174c52598b6462ec6245bacfc2a48abc4d2eabc80578d8a13ed97197196bac825becdb178e8aadb4b984fa3afabe28badbf5d4d1f0f0ed75505a387a919b124573a22839dc4365491e5781588b00ecd0698e11520a98af3168a18736e576b453c4213f2e4d14b7d03d00ae34c2bf3f0d551e5f6c0ee7d5</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1788238867</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
