<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/a99097ac121e/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260903%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260903T055856Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=016fbc90dcafa91bf2eb77554217e4f3d318c9231e30cb7c2f053739302a61d4dbd1b11a78f3f7d64812d78d091fc0ec4962dd600b617501ab099abb7e59b09d9dc0e29f70d0f48783570ea2ce3e4a67d2fe9096eca9b7e3793cba31321225d0748f268e7dc11109694a2554c4b964f46a4e24b8ca734231f1baa41b5e4c07991926284625523f1b197a540acba6a5f03bdf1f8d7c1be5a473929dbbdb9c25410f75ac80ee2d578062640706a365ddcd4a9dc7373ae4988337d6270d338e63be0ae08ba494043a1fac3986aae74491fb690dfa6e5a6370e5fc52e14bfe63550594eac2fe8b2d2f64263d72101c5fccfa1a63e18e4a3ee0cfb49bf381fbe2de80</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1788413535</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
