<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/817db2e72916/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260902%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260902T010412Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=5ca58c03dd37fe77e321a9552e98ab8d0a21a5d197b63a67863f158cce6ef4b930eacd149254d5e88a5ff6117fe330d41a684c356ac02bff18bb8af182c988f2357ef2394eb2cf1718c12f79957ae2d53938314868d2fd9854d3f9bf9aeb93c5beeb2a42e6fc4051fa477023796732c1764131e926377e485c193dd1e56a6f2c6fe076474123f82dd5a823f9b5cf1495b3f4113ffc3354c39dd1ebcbdeb716da98835c967a3a252041369c00e1e967c48173e452666556b461ae564fffd0cbd4791bf652db6c951d24ce5a6ceaa27847c8ef5516fc5eb5e7e0a19c9e1b914ae995716d84439e39830eea1597b309df5d48de2615b835f619840b2d933adc8a62</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1788308107</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
