<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/47c315c3f962/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260827%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260827T222132Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=4b651fac644c205b7ff675a1029c00a9269eacc676f878ad3cec263893dfdd44628816b0ebde964ee2bbd80fe80237ddb10b4e8eea1183fd4b8292f8bb5f4c450ee4bd2b85b55721001d4ad14450a4f66127bd4aea888cf9cfc03e6036eac350592087a839a5793794ff6bd459348f7851baca64736142f725032fbda6772e1a3e5b9ad2b064ec8ab4aa5c0ddd49ec304c43825e681fa6a839383dccd3e8ef57866047f0e8490825235157db23e859649fe289daf36656531f1f806bde696a8ad6fe5339f960d97da49a958ab5a2de8bc16dc7bb6181824786db84a3712685133250b8e03b1eabbdc8176a10c8ca8c62024cf8a80b1882d92136d06b6ea9c213</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1787865215</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
