<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/3f79c887b4f4/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260819%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260819T213103Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=262d00e3c5558c3d3f0e3c55f74df8a9cd9e8f08db01a5ce4e961c194ca47a850313175c42e8ef1b039537afb42b79e1bf54728f8cf87f21ff848b36c3b1e7a6a80b52413812d86b6140485ecad987eef8fa632eb56521487adc7953302be16490cfafe3805d3423070b1b1a54614a1d7f5b02e549b0d614fe411b4eeef6094cb1824812976598c356513d48fe4c011a49e17425379a7eab91b75ef9be26c856eb021222fa8ab4d2e519a9b52ae559e37c681c0d960073a27aee492dd78822219e0b3545f25282aeff367ce76e43566f95f9505f5b6170d1368676f98e6ffceb97be7f9fabfdc16205b589767805908509d53ab47def9baa9fdee5f2defccf70</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1787173289</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
