<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/dc5309fc6566/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260901%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260901T074205Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=8a0b66104e7919eed9cdb22db9b37c4e35075a27b361e73cd2fdb6fb2a72dc9483198671d18cf07eefd5ac7ecb7c704f4092795e1ecad33da867c675aba52bc123ec35a4bfb755befd5a7a46ad69293157ed699fa6243c0c9fd6e6981fc63f82e42ff90afc4ea91d3cff8c9fe8b17dec24a97829c586e6082014ced93d3c1b80191a0122f9eff87464e4b1436339f25ffde4283a911af9cc8ef0040e5a81abd09f3cdff952221bd3842d2fc16b3d693c330da39bb668b54158400cf8588be1e19943f8eb8b77faf8523fd4104d4f00636b01b03664621730fd87429c59fa8efede42d0ed7998cae8cb04d3382003b52d5670d31c58d6c833fd7eaff7367e9148</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1788246982</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
