<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/c198624a8720/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260818%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260818T224506Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=09dc1a90269989380b3dd8ff388137928e2edf5478cfbb1de375d29bcdac85cf484f14048ae25c5db6be8d9e6fd52d406c929f13ded7c8fb417b15f2d924a0c33cc85af66064fc2eb0b3e197529434a8aa3be2dc87d43264d82859a1ae2bc841a79a2478aadba03bd9feff14cf6cef23e3fd36af29e40ad707b53d3326f2f7702d1171f423c738f6baeed9656b71a5b6d625e493f4d1c5f496b2507881d4ae3316d8d52d2c2e9c219064cdc22f0004ba7e3a2ff0a7ef31e087959263a59a74e02ae8b9b6320762fbd782391342a7c68841e3248d22da9a86a348d673adf5f9219fd7330174c3a81bf562e0000d1c621aa0537fa01697f12547b62e28465a1df6</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1787091647</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
