<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/08f4ba2fc1c9/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260901%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260901T112843Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=706b34f9012d76b3bdd491f643c0b4b2e7326012d35f539e64c22390d071cedf7bd9000f441266bb9e2278632346e89d6c307b7c4267fa74de5c581c03dafe04675966a57e00a85f7f02ae1b547342f14f0248200f2c8e6f70abd8729ae2ba2f50184f46ab2e1d8ea92f3256b959f983c4ef97d3922c6c8293070990911c514290184ee926454f66e872e2850c2eadd85c03ec0dab49166b89c09304bdb6c7ac5e9b0750a28e5593c4c8aa56ccc42d10f6012198b09d2c3d798aa4c61cb98bcf3cee8054469ff9e91b3f61bba64a35ac8b8de3c1960522ab1ba4131dffc62f60628bea84d8979ff393407a9c7ee94a21663fa3188d47e93722e563340213accc</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1788260570</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
