<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/03759e29212d/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260901%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260901T205544Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=13e35110987fdaba4cbb4af70b327b66a593d01ae14fdc4787ebf96d3d8ad7bdcf293295bab6cd7297935b377a7d7eae782497d4b5719f29e91d2ffdd4817169f4c4386f41917e34f91c146ca7cb7defe2739e20c78b238cb470ae7f35074d5b8de7479bff5864cf834a921f3bd625e8630492f50ba92beb47560307319fadfc8359f627501fbd08a425e3e1f88856faeb120563d66e275b61721fbd20a49b9fb2ef2779c6a7add087b2cc852ee943e3bdec1ab883e9ec601928ac66f9ef687afdb88ffe7cfda968cf9b27a0156c44756ef08f2883c9e8f19c4de27c1f0556a6add4ef7f97905edfd46b68d649858675ceaa5a88da838f2e4fbb005f3ec004c5</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1788294352</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
