<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/52e93a38668a/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260825%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260825T183033Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=471131a9486206e6d3ca9fc0b15aae9e01b1851e4e492364b5bd75f7fb9f42b8e283834c680726cb9368f62124fe64f1bd65e334c43a743da924cae07bf7da80a23b321057bad46301d8e98bd54e48b77af75f7fa429f9993585148ee2f2585b683f1870972981cb09ad6ce53b974823373c8310af16db9cfc1497271a32c1af140ed8279e975e84d1f9e899e605faff5b25e8a190b61c0bc323448cdaf748f017b02b0196fbfad1995a668b963f3fd8e5b6a86a746eabd58624205bd7abc9fec43bf954ef04dc7166e4cde1cdbcb3684d2f951a497e31f8c71e15eb625c824ccffdf507bbe72b1e521938050d51e8dc2b4e1dbd3f66dc98812d616f0510b4cc</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1787680598</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
