<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/768777a390b4/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260902%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260902T031333Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=2fc69eb58403f451bea5c3226a7371a39665afa819966158f761c992a37fd487febc67153babad30d4ca6cab8e491c5da345a88621d14b23c6b1723b7d1c006917578d5eeb217b76b4704c17049d939f53cadab975f01c5783f2a012715a5c0876072273d8795023bb27e447a9805624dd13301294738c559588e90e2fd759712e367aa8cb8084ff07cbab03c2d449380aef203d176451dd513a894845947ad6716fc4b0a5b46dc22ada1bbeed4ab9df759d7b8356bcf2655ad8cbe903e066c3fdc561ca8657180be34069f4e7fe752106e0b9367a05bfa75c54ff5ed9510894a7b625791598d40fb9156ae4e3a345f6a792adc10c8b2021d8d66c2a9dcd971d</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1788316983</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
