<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/fac26be096d5/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260818%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260818T211359Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=170624ba062e0ff5878e0438526be02072a06b08052b13bb56f64ce0be544fcf647b6c7f715ee6f3d8ab038dd0c52d4c328f6c1256cdba0df00446c4a924d8fdea8ad425576583d4b503d67418d5a323ae0f155b29634c8613bd590a57ea325ea281f9355516aa266a2f2bc911b3a15a0fbb8a144fbc612fdee9d853a3d9c447e43fa618600e1aafb4e1859a0a2e2d4ad0e2072d41bc1035f08d51cfa84c196e56c05d90d0a241528fbe920b30bf878d24777e0afaeadde4cf3dcb2eabec0b6fbe95f7f6560912785b4224d0e50a34d1ac8f88d392678b06ca69b2a38ecdca4bbfaf3f405cfe6c340f225f92ffe9c8f621032a0b3386a44bd03d2cca7a423239</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1787086188</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
