<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/e359f6181f81/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260906%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260906T061327Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=1a07b4588eece57591c085e6ca23c5a6d25f65b0e31aecbed5249bc11dd3e11c39d3eb7362194a913d93594c4f23b359ed5438bd560e7aa013b2d00b23a07c4263f8a56b8331de79af7d5edf286b0434019124a23560d81350d66070bd57cc6d050e25a19164d6235b61b25a3df3c384a076056c882b33db3c5a7560dabb4898b2377817c026babf33f96fd1246895dba97a562fde27da7ce794f9c06456cdc9477fc94b4c05472d10c1761e6a28a5dcf80827a5a3685d461792c2efa281a969fcd61617d03da98a10425ad3127bcede0c624b3f1a18871823d16d4f69fbcb06a444065f640ff9b01d57543443302f40f065682d262febcd0678d397cfaad627</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1788672608</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
