<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/db89ad445eee/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260822%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260822T072705Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=17de74fff74a97ba1f34cbd1ee3592f8edd53d09c330e6fd8d41959410f91491d8f68549f1dc16f720ceaf0dbcee8a8b42cdd8a4ffb3ef774afccac278d7a0e8c0d6e32dc72a365712de3657382073b3e1f46f5ddb15190bfa15a9e9b22cff50289ae9ee63d0f66dd26c9e077ce40960f52da7675b31e00da3ecfed6f8347ae4673514c72c05ee2e585ae35194dbc8b532a616df8a01a14fa8dea33e3fa0a0d7485bd2a7c8c834f0d0928db3f62fd2ad6a2be09401de6bd8bf1c4352b1b4a47f3c35090ffd84bb3eb4e552644aa9312514d4f86f48604c6bc1fe822959d98eff6f470b6eae37737ea33213d3c7ed27c926bf754ea8afdf8f5382661ffc0702d5</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1787381839</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
