<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/da295fe87461/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260906%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260906T042701Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=68aa59c020a4200dbc4ebabf00dc3ef90d707171767c4e6f3afc160a7f60a211535bc83ee6509324f5ac7a97db167a4b9aeb7eaffcbd0e65081a019574d6a54da9482b322baba07677e011623069ed2753942e7eaee28730249b11774d238025859ed2037763cbbd5c7437b093dd1808b8a2ddad090876806da3c9a7cf8317fade0cfad6b683af85e58222e2c5f8e4c94675f6937af2fd0bc849f1e7f974420696a3f1cc51908c001898c8675784f02f80764abcf7376ca770fee5df073338203917d64cbbbb2c0a4a7df47f9c22353b70725ad9e4abd7f295f5e9592a6dceeae359510ac3a84c4e091b8cd5de4ea9f9e7217323f43416d0e35ac52a450b2d42</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1788667060</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
