<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/78771658fcc2/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260828%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260828T040816Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=25f0a38e0d4f581b4609aaefbb65214599d29d06881336b9ffb69d2a1f935e3cb4e7e7f077284e0051aae2fa3a4c5bfac64638a77cb6c553bed77656d956c1e8b9c9926e18aeb4d246158176590ee0f913b0d50ec88ac16df4f840243aaa417c34d2d06c886613bdf5ec3acd6c5edeb4ef623844a31410e73d4bdb0e25eca6a573c866426bec91d987c9f66465015408a0d995a842ca581831728bfc69bbc776b4d269fa6a22aa7d416f913c5c52d948e90ba46899d1f41337c549e4289ad9c29c483d29a9923686f2fbf3beb67aa7482c17d833b2e12b0d77aedfcbee12a0b1177428f6658166ab39c6a6ce6b71ff2632d74ad663582d149047fa92eaf11c1d</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1787886065</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
