<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/a59c3ff9cfd1/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260902%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260902T051725Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=65c32a26d9f5ad5884b27ad72fcf058d7315db0246575b69fd159d547b8bcd8fc0bcb794602d9d451d316347e056a7de436db119a348a80bb3a72de4f375f57314ad7f9ec7cea29f421a686814a61648c8647d947b407f9f1fb65ddec20358947923446a87d8e91ba12b4e890426d37605dab2bf9ac488847f77074d64c8da702e4b8216d6d2f48f0fb4c7538a8e669c3b8abde82ec8486a1f39683731888547518583bf71f44390610badc232d9876b2ad92f223bdf0c70f738f413704f7ff3ee8e56d4c818bd85a13ba20382e9f0830f0785960c6df18d0bd722311bbebe728ae3182f8796ad0b7aef5766e0e875d42732dfc0bc70a6a39c63003484491ee0</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1788324108</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
