<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/956482c85484/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260820%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260820T044134Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=26af7ba20d8fe62c21f1cfa5e58dee49b868f8fb0f7857e7c31e95240cb83ca9dda8e6a5c52bca1af383afb6b940ed0c64829f1fb890ab93663c9c22f29be781b92b5199e6396f84e21761737d3e82b0cd362f5c333d69a6421b5720571c2368656722ffbc143c76fb6c672eb39c31c5ef5a002dce739bada949b31592f46b1f46bbddea61692d0f04bb7909737228033b5b98b20e743ad94f3e4f0c1fe1177108f5aff2d6838151a6aabc207d511de8230b8551e4d5d1218b37bd9529a0c3a9a444df59bacf2ed7693d982ab652a2eb8f18ce0c1193c58f59aada0f838c8ed0cc80c9f6e1951a489dd18c76e2631f2d6caadc0cf6ae6432fe6d7ee85c0dba81</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1787199460</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
