<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/6003ba8b27bc/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260903%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260903T044722Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=0e5ef66ce067163340c7a37e967a75c93530a14b75968f14bae5c1045c5b0e04680239231db54878c43579d7c5c253614ed22c4d7ef23149a8d49f48774a94f0d636888ce018da0dc261ecf941d03232b427f69f29c6671c28a5dc9baada56584ea7cd0d86f884b1fce5d9d899215ca600f01a680dded12b4b376f2ef6f3aa607fedd77f4510213b1b3e11ab091ae3370a8ce999c82efef2fe0fedd4e8aeb4bf9e9ae4f257562ae5a677aa4dc641ab357e8e41e3acb4518a3e39ecdeb530f9f1d4e29c1ed49113e70511f7f8b58fa16164f34dfb11f5dbbb51adb357f44d7d0ae75292a34bf1fa3ca71a335131b2ec17d2a9ee0a8b50f7fae7ab8b40198997b6</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1788408801</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
