<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/e8265214d9dd/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260817%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260817T064246Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=70e5f129c425e5bb22b316ed7bde73a7402dfcb7bb92c64cb7339e8931f5fb079fa90c0c9535652379a80c7dee5d5d46c077294eee89fa7815eba05ba592b148f2d7f2e18bfded85e466d81ab16e6df7740f49ce6972d87bf134dbf9e1d115e6a15483e9d0c4db089ba786d108113622982817b85890627556d73a8240f02e1c16b8c8cf1af306f5740cc4e4f2cc3906cc4daf7a213c36ecf8eab53ff87630514df56a283e02c9f341f80dd1e8e1f9a5fb8f25231f2f9da6b0700624aeb9c181506c976a303b2c8ce154ec24dbd3b01da44edbead90e0d2ed0fe39c538bea6eb7afb0499b336a1ee7b65d36f4620ef3ef7e339abb6f26a6a3608cf07863ec991</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1786947364</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
