<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/3ef057d4affd/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260901%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260901T171421Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=8cf68eee9b011cdf7f7958038d7982138a5d1426fe160b93e2c3dda17f959c2fdd40357349efd91b02f6a8608ac9d5fbf7a2e2d0e926835f3b806649de552fa4bc2d73b0c181909ee0134b81981f01d38761f79afb65b66e6e9aa130b5ffbfd58da255ff3ea2bb2fe3643c9c1cfda00dbd99ab8ac3f5ece95ddd54368fa3f3f39aa6442d15b021305faad9b616be37a7769c097851c276fe300bf15247bda033d248e97ab747e17a2a4e223eb068d6e396214339268f2652deb2ae50fac40fe3159857689a0d3d4083c910046c6d50d465903b2d3fc62d24896fc2a82ef2bd459b7b6042987e642e45c300b9d6d4763b5c96639e1a2e6109270d3e77fc69eb42</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1788281165</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
