<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/b7ad95540c33/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260815%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260815T204858Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=60a0e48f19e15247340e8a41cddf663ed3f968a21e76e25af66f389a84476371fc73eec0a55dbd1ce29b601c327a7058debe7712f5cda833731ecb4310a6cc929c1cd4a1b2afb773e99a2038cc7ee1e6dd32a3abd2609c58d440173722213cf02577fe359a8930f6e2861bc40e969e3cc1e4fbf6977ef6cbd13788c7cdc9cd88085011cb43629f479b2155d752fdd7ddd1f74b2f9a0e5f7bce6e20ba8fc367a318c98f84a28dc569a742d38dd900fb51512cd641873a5075741d4b87f49fc2ed36fc2e0c8cbd16d8790aa2878c4374b6a46d9aa8001be0b87d9d9461b1c2ab535668d9949d1482c80f9420f2bf23192d72a49a654a7bd9b3765808200db475f3</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1786825453</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
