<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/b1a5fc36a33b/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260823%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260823T084022Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=86081b5d25e00f281d9a72398f1fae08815a9f437ea383435098a6a9095a4e994c9b89dcd459b68202e546633c4b01eb0d7bf7fd536eaf5fc8a24fe15fe34422dbc9b12394e59ca6af190458efebefafe02c9e0ad4fc87bdc7fcc8b28e2d15508f9da1554ddc57cfe4012051f68595be9b3741bec93e632ba32b5eaf685095e50ccd8d1f45d21d05110bf0004f3e39b3c00f28b6a68cc5379743bb0b7e2bd85ef38ae6627fed2366bd75329af52070999ec405d9b20439e55165c866f081f99bb2ccb957f5a0c66933361dc8d6936d84769c6b296f3c7d560dfa7556178ce9abce6c6414e25afeac9dc0d23ca4ae8c9adc92cc6897f585c9527c914cbf6a7f67</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1787472724</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
