<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/26f13efb19e2/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260824%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260824T231544Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=9053eb5483a0919d2afcfefff768ae010711923faf386c68af480ae19ad89b2505f5d650a9ee49e82e5eb75309179538065c6097f646a782a914b5800009fb3ba25c14deb112e236cf8754ff4b7d79fa0f7adaaaa784796bb4ceb6d562a1160f4d90cd906346caa36886013ecce63780a3b1d0605fa959b50d2f410e6fe86d25397e4d89551c3201b0f311e565d6f64ffcae883cfa22d78f399ebc1ddd6f2790299e89b628dc8476e492ff7105db9b1d66c7429ce8619de50deccbea95fbbe5f8a35c2e46407ef3c720482028097af89620839e2503dc3395802abad251c386e5111e6f5197293a9adf9c07d3ec7f1c32d01b68a7cc6531c0fc2932bf380d9e4</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1787611806</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
