<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/c286ab3e2f1e/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260819%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260819T183011Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=9a241b5d2df07a29c0fc92ff259264e368853db5219401f91aae2006afe3a63260761dc67b3e3b3058d684a473df4866e70a55983f46e8ad655c276eb2806f432e9d4408d1a114ff9043945fe0338f1338bab9b68a5df3c70f98ad0ddacd5613b59296ffcaaa1723edee80ddcde6a28b7928572795f9911f107affa79ea7139805bb89b21a62e615c23f535fba2ba9d26b4b6fc8eca8b948609d244b6309b6ec8203cf9932c89ffb6f84383c15764cd9f11c033cdcfe2151f7517751dc4ff4ff8652d3143b2b5244a1854db0026d2261c66ba2bf5e805592236ac26d1c82fb2491c4281c4e414cb38929ddb15311c74d224d7d485f8b2e363c1e2f982473a0ce</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1787162687</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
