<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/fd94616470f2/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260901%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260901T052716Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=6c6f522d44ecbf647e20f40528d05075e5d4a8116ce6ed25e1838f3a850e5ec538deee5c65356ba9272b861640ff34f9603c028b95eee83e1dd6f2be5d4a82a53c41cf755c98ee90639b7dc9ea125fee75e8dd0f8f8181850bc3c0f337e7813efb1152a04466d1e0e0defbacf076925d600cb4d30de9830d9c421d0348a61077d5808c3872223a3d2ced51cab1e56ddd7a0fc3121d78a0a367e701d17bf9e66b433b57789c981f0cb1be4f5aa2926fc370077329835b91b7fa1a8355d51acb038a9f58c468f5b8a446d42dfe76cb417fe2afd9673beb3ca1fe35363faa3b35ff9fc0011adcc237f41956eb0c69a600db70b515ad1ef31c9a4f6beb78e9617b3c</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1788238867</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
