<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/6815511231bc/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260819%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260819T072213Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=6ee9afbdba4a3efce8bdf8a459b2e4bf98e49de50b61bf1315d5a71e68279020ac1bba73deec22be81bdeecedb8e98e07486b5f8249a4a70f2ebe3355e0f55e7789a1e93f98e0f52d740f4ec6934f47a82f1d522fda7d23c9ffdf3060e04d2cddd517f0ac47c4614975af42c328d00bfc8da4d17a9ab87ef24add6eff3861cac6c139d489500ee0d4ad68f0b9d7541080fe0ad136963753fe96fd0e2f37423f1e7d6d33e94bc5c11e9eb787d29e33c1e59e8768faba4b3b68b5f84131d5ef7ea2034e7b8dd23347eb74a6d67e5a0abc63c6973afb70b1ab1f8897d46dc92dd068aac0855e64a277c09bec1be409527b9c7991bf93844facd4331b0a6006983b3</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1787122729</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
