<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/79c13b531e40/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260818%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260818T202749Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=4994a34b7130d37403e08c7b2eb1b57781fac6ee47a122083e2572b6151e6ed30c727faeb471cbb89c809750ba928b3b2405e44f4c16fde13a3f6c572d7608d2f4562f505f39bde983bd4b8bbe491b11d849ff6f35b8d74f55b0847aa63e98053c1852b73cb6e61601614e464f9a823eaed46657ba1329e1b149d8d3c1ae23deb68792d78ea905f8998d4d41eaeef86fe6e6a2320bd83bf5b5d9d099e241f7fc91ba2f1ef31ae1d41461311862365ac7827e004a69cebd376025d6d52961ed990938a6ce65bdf245c98d162d545476a783035501fe81fd6320167cf9459bdbb7b0a0993f79b140cfe1a715d5757041610653665fd340753ce9a5dd3c1d70024e</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1787082980</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
