<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/0ea018b28b90/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260815%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260815T190005Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=034b8cfc2880848e77f19b05cfd1fcf42e3f636eb9ba99b8a360c43295fa99d50a73bf1f92223992684890fcfdd5bc997a768918e393394c27446447bfc97fd41e30a0a39007c0654e2810181745b90687b3fe8e5872f5ef01d93b97c38d0868c6bd900843d1745e8da58eba5b9f26e13f8eab032f0d6fd9f7b821ca63e7d6c79b5b015a409c535f259ebcb7134539c0ea23c835e3cd7a468dc9b85c8f3cbfb6f3a69b3bc56c68b57053163a6fafa13daefa4f6f87ece1442d7e8c483c7ff90c338aad1bba6ecaeba3e8aecae76a1ced27d12170b694fe30b63107da634ce9824af5971a4c7474d8e019f4f06fe4aa99a97f016d310b5f2f173f6a950f4a51fe</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1786819038</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
