<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/7304e7552283/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260819%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260819T075544Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=2e1ae9215ab0eafca76fbc57b38db0838343a289252e7287bb1048178945520984c362cf2fd571feebaf95c92890bcc412166007b111ee4e682ae608c3375a159e8ae4f37b9a532f7a22ad58b08880fa5677759018fa467f558f4f853c784e93d2e2a41b67dc2c6da3a592c45830de2df669278c02bad0d5627c24386c6a99506d7384d9d1dc4cd91fcc5bba181d0d7771189eae20922b14243ea782961f19ed9ed5a57d0be45387196830722c276c2693a81b947faeea0bfd1792754b283ae22424a7d3e0546f59e0b910009441bfc4b1471ed18390f9351edcd0731f2c35a2cde0c39045a82a51cd57db99277a29951d2f8799fd20bc1325c28435138611d9</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1787124779</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
