<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/a6fa43e9376a/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260823%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260823T072742Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=80065b6fe92280930a806e5fa98c9436d2de4383fe15aa86b7b4c4b9ef0522573335e9a1a95a3959c3ffe33a311007b83dfc3fc1d8262f190f5928005066eef6b8be653d722c96ae09ee90a1468a52bdda1f8de814079457d319e12c1c3a8b8e4bf2cdb79ad82550f65d0e0367ca29e95fbc9564114937de3ee246301f05ae28cc65b43379a2b87b785364214bc4bf7097a11dc64b89d602b3e6d6638acd1d14c3056c7edb8e31e560fdea5b9128b5ed2f02ab301292ccb674bee151f28af28eb159f26ae57c6270d5f84c31ac2b6fdd630c5809bf9baa063cf9e2c608cf4c2fce6d2a8d37061163f60a4fbaa8418a860a1d09a45c0f351f4039970aad53a11a</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1787468566</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
