<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://storage.googleapis.com/runeboundrift-prod-assets-runebound-rift-assets/dist/adhoc/86d16c0e244e/RuneboundRift-iOS.ipa?X-Goog-Algorithm=GOOG4-RSA-SHA256&amp;X-Goog-Credential=runebound-asset-ci%40runebound-rift-assets.iam.gserviceaccount.com%2F20260815%2Fauto%2Fstorage%2Fgoog4_request&amp;X-Goog-Date=20260815T211248Z&amp;X-Goog-Expires=604800&amp;X-Goog-SignedHeaders=host&amp;X-Goog-Signature=3dd0fd7ac9ba3522c01c6564ef9e35b8e923e1bec4569c1443d1543c2154544692002bdb9540ee6582f477d2cb7da1bcfc6b9f80e0ca87794ff502db8decaeefcf94685bf8ed344877fee0be4ab684cd165887144bbc1e3f4669a6c07dd7c31be33c1c22600f5707d93b1496d5006f0522bbdfd08af862a8da0a329473cf619deb7b008a61601a9478d883501495841dc180648d35b07034c2a7461fd8968c8e8d6b11985a88d38dba636fe2bef7435210eee9e8ed29eb6af7a0b4330986245573b52749c0fdce94d1984c80fd06ba379b07951e92928c44bb8b7d38b515cefb0165316f60d11f180a22718b7438064c600d23ed463572987050fdae1d791748</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.nazgugu.runeboundrift</string>
        <key>bundle-version</key>
        <string>1786826620</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Runebound Rift</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
